/* Configurações básicas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  background-color: #ffeed9;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 50px;
}

/* Container Navbar */
.container-1 {
  position: relative;
  height: 960px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nav-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar {
  width: 70%;
  height: 65px;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: #ebdcc5;
  border-radius: 17px;
  padding: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-lista {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-lista a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #c79f61;
  text-decoration: none;
  transition: 0.3s;
}

.nav-lista a:hover {
  opacity: 0.8;
}

.nav-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
}

.nav-lista button {
  background-color: #c79f61;
  border: none;
  border-radius: 10px;
  padding: 6px 16px;
  cursor: pointer;
}

.btn-entrar {
  color: #efe1ce !important;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

/* Rodapé */
.rodape {
  background-color: #e6e1c0;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 41px;
  justify-content: space-between;
}

.logo-rodape {
  width: 80px;
  height: 80px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #a78652;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;

  img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: invert(1);
  }
}

.btn-social:hover {
  background-color: #8c6e40;
}

.creditos {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #a78652;
  margin: 0;
}

/* MAIN */
.grafico-container {
  position: relative;
  width: 100%;
  padding-top: 20px;
}

.titulo-flutuante {
  position: absolute;
  top: 310px;
  left: 90px;

  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  margin: 0;
  z-index: 10;
}

.donut {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: flex; 
  justify-content: center;
  align-items: center;

  .centro-rosca {
    position: absolute;
    top: 90%;
    left: 50%;
    text-align: center;
  }

  .numero-centro {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #6e5c47;
  }

  .texto-centro {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #6e5c47;
  }
}
