/* Configurações básicas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  background-color: #fff4e6;
  color: #6e5c47;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container Navbar */
.nav-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar {
  position: relative;
  z-index: 10;
  max-width: 1109px;
  width: 90%;
  margin: 43px auto 0;
  background-color: #ebdcc5;
  border-radius: 25px;
  height: 87px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.nav-lista {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-lista a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  color: #c79f61;
  text-decoration: none;
  transition: 0.3s;
}

.nav-lista a:hover {
  opacity: 0.8;
}

.nav-logo img {
  width: 67px;
  height: 67px;
  object-fit: contain;
  display: block;
}

.nav-lista button {
  background-color: #c79f61;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.btn-sair {
  color: #efe1ce !important;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-sair:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

/* MAIN */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.container-principal {
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 80%;
  padding: 3rem;
  gap: 2rem;
  margin: 0 auto;

  .titulo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;

    h1 {
      font-family: "DynaPuff";
      color: #536267;
      font-size: 1.688rem;
    }

    p {
      color: #846e55;
    }
  }

  .container-kpis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    .kpi {
      display: flex;
      flex-direction: column;
      background-color: #fffbf7;
      border-radius: 1rem;
      width: 40rem;
      height: 12rem;
      padding: 2rem;
      gap: 1rem;

      h2 {
        font-size: 1rem;
        color: #536267;
      }

      p {
        font-size: 2.6rem;
        font-weight: 600;
        color: #846e55;
        text-align: center;
      }

      span {
        font-size: .8rem;
        text-align: center;
      }
    }

    .kpi-respostas {
      display: flex;
      flex-direction: column;
      background-color: #e5c596;
      border-radius: 1rem;
      width: 25rem;
      height: 12rem;
      padding: 2rem;
      gap: 1rem;

      h2 {
        font-size: 1rem;
        color: #536267;
      }

      p {
        font-size: 3rem;
        font-weight: 600;
        color: #846e55;
        text-align: center;
      }

      span {
        font-size: .8rem;
        text-align: center;
      }
    }
  }
}
.grafico-formatacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 2px;
  gap: 2rem;

  .barra {
    display: flex;
    align-items: center;
    background-color: #fffbf7;
    border-radius: 1rem;
    width: 63rem;
    padding: 3rem;

    .titulo-flutuante {
      position: absolute;
      top: 1.4rem;
      left: 2rem;

      color: #2d4253;
      font-family: "Montserrat";
      font-size: 1.25rem;
      font-weight: 700;
      z-index: 10;
    }
  }

  .donut {
    background-color: #fffbf7;
    border-radius: 1rem;
    width: 20rem;
    padding: 0.7rem 2rem 1rem 2rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .titulo-flutuante2 {
      position: absolute;
      top: 1rem;
      left: 1.5rem;

      color: #2d4253;
      font-family: "Montserrat";
      font-size: 1.25rem;
      font-weight: 700;
      z-index: 10;
    }

    .centro-rosca {
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .numero-centro {
      font-family: "Montserrat", sans-serif;
      font-size: 3.75rem;
      font-weight: 700;
      color: #6e5c47;
    }

    .texto-centro {
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      color: #6e5c47;
    }
  }
}

/* Configs do Pop-up */
.escondido {
  display: none !important;
}

.popUp-fundo {
  position: fixed; /* trava a tela até se rolar a página */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-container {
  background-color: #fdf5e6;
  border: 3px solid #c79f61;
  color: #c79f61;
  font-family: "Montserrat";
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

/* Rodapé */
.rodape {
  background-color: #ebdcc5;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 41px;
  justify-content: space-between;
}

.logo-rodape {
  width: 80px;
  height: 80px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #a78652;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;

  img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: invert(1);
  }
}

.btn-social:hover {
  background-color: #8c6e40;
}

.creditos {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #a78652;
  margin: 0;
}
